nav {
    background-image: var(--dark);
    border-bottom: 1px solid white;
}


.color1 {
    color: white;
    font-weight: bolder;
}

.logo {
    color: #7a0ce9;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: "Bebas Neue", sans-serif;
}